body {
  background-color: black;
  color: white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.popup {
  display: none;
  position: absolute;
  margin-left: 25%;
  width: 50%;
  background-color: rgb(243, 236, 114);
  color: black;

}



.btn-restart{
  background-color: grey;
  cursor: pointer;
  right: 50%;
  border: 4px;
  border-color: azure;
  width: 50%;
  /* height: 15px; */
}